@import '../../app.scss';

.mini-gray {
  color: $color-grey-3;
}

.light-gray {
  color: $color-grey-2;
}

.gray {
  color: $color-grey-1;
}

.qz-redirect-modal-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $spacing-v-lg;
}

