@import '../../app';

.mini-gray {
  color: $color-grey-3;
}

.qz-heatreward {
  width: 100%;
  display: block;
  height: 100%;
  overflow: scroll;

  &-title {
    background-color: $color-bg-grey;
    padding: $spacing-v-md 0;
    width: 100%;
    text-align: center;
    //font-weight: bolder;
    font-size: $font-size-base;
  }

  &-img {
    width: 100%;
    max-width: 200vw;
    max-height: 200vh;
  }

  &-loading {
    width: 100%;
    height: 10vw;
    position: relative;
    margin-top: $spacing-v-md;
  }

}
