@import '../../app.scss';

.mini-gray {
  color: $color-grey-3;
}

.light-gray {
  color: $color-grey-2;
}

.gray {
  color: $color-grey-1;
}

.black {
  color: $color-black-1 !important;
}

.bold {
  font-weight: 800;
}

.qz-gift-modal-title {
  font-weight: bold;
  font-size: $font-size-lg;
  margin-bottom: $spacing-v-sm;
}

.qz-gift-modal-content_text {
  font-size: $font-size-xs;
  margin-top: $spacing-v-sm;
}

.qz-gift-modal-content_tip {
  display: flex;
  text-align: left;
  padding: 0 $spacing-h-md;
  font-size: $font-size-xs;
}

.qz-gift-modal-content_tip-highlight {
  background: $color-highlight;
  color: $color-text-base-inverse;
  border-radius: 5px;
}

.qz-gift-modal-content_captcha-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .qz-gift-modal-content_captcha {
    font-style: italic;
    font-weight: bold;
    border: 0;
    letter-spacing: 3px;
    font-size: $font-size-base;
    background-color: #ccc;
    padding: 5px;
    margin-right: 10px;
    color: blue;
  }

  .qz-gift-modal-content_captcha-change {
    font-size: $font-size-sm;
  }

  .qz-gift-modal-content_captcha-title {
    font-size: $font-size-sm;
  }

  .qz-gift-modal-content_captcha-input {
    font-size: $font-size-sm;
  }
}
