@import '../../app.scss';

.qz-address-content {
  width: 100%;
  height: 100%;
}

.qz-address-loading {
  width: 100vw;
  height: 10vw;
  position: relative;
  margin-top: $spacing-v-md;
}
.qz-address-add {
  width: 100%;
  margin-top: $spacing-v-sm;
}
