@import '../../../../app.scss';

.qz-league-regulations__result {
  background-color: $color-bg-grey;
  &-loading {
    width: 100vw;
    height: 10vw;
    position: relative;
    margin-top: $spacing-v-md;
  }
}

.qz-league-regulations {
  &__header {
    background-color: $color-bg;
    padding: $spacing-v-md 0;
    width: 100vw;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    &-avatar {
      padding: $spacing-v-lg $spacing-v-md;
      display: inline-block;
      float: left;
    }
    &-des {
      padding: $spacing-v-md;
      display: inline-block;
      width: calc(100vw - #{$spacing-v-md} * 2 - #{$at-avatar-size-lg} - #{$spacing-v-md} * 2);
      max-width: calc(100vw - #{$spacing-v-md} * 2 - #{$at-avatar-size-lg} - #{$spacing-v-md} * 2);
      &-name {
        font-size: $font-size-base;
        color: $color-text-base;
        width: 100%;
        word-wrap: break-word;
        word-break: break-all;
      }
      &-city {
        font-size: $font-size-sm;
        color: $color-text-placeholder;
        width: 100%;
        margin-top: $spacing-v-xs;
      }
      &-time {
        font-size: $font-size-xs;
        color: $color-text-placeholder;
        width: 100%;
        margin-top: $spacing-v-xs;
      }
    }
  }
  &__info {
    margin-top: $spacing-v-lg;
    background-color: $color-bg;
    width: 100vw;
    padding: $spacing-v-md 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    &-container {
      padding: $spacing-v-md 0;
    }
    &-title {
      font-size: $font-size-sm;
      color: $color-text-placeholder;
      text-align: right;
    }
    &-content {
      font-size: $font-size-sm;
      color: $color-text-base;
      text-align: left;
    }
  }
  &__poster {
    display: block;
    width: 100vw;
    height: calc(100vw * 2 / 5);
  }
  &__report {
    width: 100vw;
    display: block;
    margin-top: $spacing-v-md;
    &-title{
      background-color: $color-bg-grey;
      padding: 0 0 $spacing-v-md 0;
      width: 100vw;
      text-align: center;
      //font-weight: bolder;
      font-size: $font-size-lg;
    }
    &-img{
      width: 100vw;
    }
  }
}
