@import '../../app.scss';
.qz-round-button-content{
  width: 100%;
  height: 100%;
}
.qz-round-button-content-animation{
  animation: zoom ease-in-out 1s infinite;
}
.qz-round-button-text-content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qz-round-button {
  background-color: $color-bg;
  color: $color-text-base;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  image {
    width: 70%;
    height: 70%;
  }
  &-text {
    width: 100%;
    text-align: center;
    color: $color-grey-2;
    font-size: $font-size-xs;
  }
}

.qz-round-button:active {
  animation: btn-click 1s;
}

.qz-round-button::after {
  border: none;
  border-radius: 0;
}

@keyframes btn-click {
  0% {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  }
  100% {
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.15);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(0.9);
  }

  40% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(0.9);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
