@import '../../app';

@mixin active {
  transition: background-color 0.3s;

  &:active {
    background-color: $color-grey-5;
  }
}

@mixin hairline-common() {
  content: '';
  position: absolute;
  transform-origin: center;
  box-sizing: border-box;
  pointer-events: none;
}

@mixin hairline-bottom-relative(
  $color: $color-border-grey-light,
  $style: solid,
  $width: 1px,
  $left: 0
) {
  position: relative;

  &::after {
    @include hairline-common();

    top: auto;
    left: $left;
    right: 0;
    bottom: 0;
    transform: scaleY(0.5);
    border-bottom: $width $style $color;
  }
}

.mini-gray {
  color: $color-grey-3;
}

.qz-giftrank {
  //padding: $spacing-v-sm $spacing-v-lg;

  &-scroll-content {
    height: 100%; //减去tab的高度
  }

  &-content-loading {
    width: 100%;
    height: 10vw;
    position: relative;
    margin-top: $spacing-v-md;
  }

  &-content-nomore {
    width: 100%;
    height: 10vw;
    position: relative;
    margin-top: $spacing-v-md;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-text-small {
    font-size: $font-size-sm !important;
  }

  &-text-mini {
    font-size: $font-size-xs !important;
  }
}

.qz-giftrank-list {
  background-color: $color-bg;
  position: relative;

  &__item-container {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
  }

  &__item {
    padding: $spacing-v-sm $spacing-h-sm;
    position: relative;
    box-sizing: border-box;
    color: $at-list-text-color;
    font-size: $font-size-base;
    line-height: $line-height-zh;
    @include active;
    @include hairline-bottom-relative($left: $spacing-h-sm);

    &-rank {
      position: relative;
      margin-right: $spacing-v-xl;
      height: 40px;
      width: 40px;

      &-r1 {
        background: url("../../assets/live/medal.png");
        background-size: 100% 100%;

        .qz-giftrank-list__item-rank-text {
          display: none;
        }
      }

      &-r2 {
        background: url("../../assets/live/medal-2.png");
        background-size: 100% 100%;

        .qz-giftrank-list__item-rank-text {
          display: none;
        }
      }

      &-r3 {
        background: url("../../assets/live/medal-3.png");
        background-size: 100% 100%;

        .qz-giftrank-list__item-rank-text {
          display: none;
        }
      }

      &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: $font-size-sm;
        color: $color-text-paragraph;
        transform: translate(-50%, -50%);
      }
    }

    &-avatar {
      width: 60px;
      height: 60px;
      margin-right: $spacing-v-xl;
      position: relative;

      image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    &-level {
      display: block;
      position: absolute;
      top: 60px;
      right: 0;
      margin: 0;
      padding: 4px 4px 3px 4px;
      border: 1px solid #fff;
      box-sizing: border-box;
      color: #fff;
      background-color: #000;
      font-size: $font-size-xxs;
      line-height: $line-height-base;
      font-weight: normal;
      transform: translateY(-100%);
    }

  }

  .item-content {
    &__info {
      &-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: inherit;
        font-size: inherit;
        line-height: $line-height-zh;
      }

      &-note {
        color: $at-list-content-color;
        font-size: $font-size-sm;
        line-height: $line-height-zh;
      }
    }
  }

  &__item-content {
    flex: 1;
    -webkit-box-flex: 1;
    overflow: hidden;
    margin-right: 40px;
  }

  .item-extra {
    position: relative;

    &__text {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: $spacing-v-xl;
      font-size: $font-size-sm;
      color: $color-grey-2;
      white-space: nowrap;
    }
  }

  &__item-extra {
    flex: 0 0 150px;
    -webkit-box-flex: 150;
    width: 150px;
    text-align: right;
  }
}

.qz-giftrank-list:after {
  content: '';
  position: absolute;
  transform-origin: center;
  box-sizing: border-box;
  pointer-events: none;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  border: 0 solid $color-border-grey-lighter;
  transform: scale(0.5);
  border-bottom-width: 1px;
}
